{% extends 'base.html.twig' %}

{% block body %}
 <section class="cover unpad--bottom switchable text-center-xs bg--dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-5 mt--3">
                        	<img alt="express pneus plus" src="/img/garage6.jpg">
                            <h2> Notre Boutique </h2>
                            <p class="lead"> Nous réalisons des réparations de tous véhicules, voitures, utilitaires, et autres véhicules sans distinction de marques. Si vos besoins sont urgents, nous pouvons réaliser des réparations très rapides de façon ponctuelle... </p>
                            <p class="lead"> Nous réalisons des réparations de tous véhicules, voitures, utilitaires, et autres véhicules sans distinction de marques. Si vos besoins sont urgents, nous pouvons réaliser des réparations très rapides de façon ponctuelle... </p>
                            

						 </div>
                        <div class="col-sm-6"> <img alt="Image" src="/img/garage5.jpg"> </div>
                    </div>
                </div>
            </section>
{% endblock %}  