
{% extends 'base.html.twig' %}

{% block body %}
	<section class="cover cover-features imagebg section--ken-burns space--md text-center" data-overlay="6">
                <div class="background-image-holder"> <img alt="background" src="/img/garage4.jpg"> </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 col-md-7">
                            <h2> Notre Garage </h2>
                            <p class="lead"> Nous réalisons des réparations de tous véhicules, voitures, utilitaires, et autres véhicules sans distinction de marques. Si vos besoins sont urgents, nous pouvons réaliser des réparations très rapides de façon ponctuelle... </p>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature-1 boxed boxed--border bg--white">
                                <h5>Carrosserie</h5>
                                <p> Nous réalisons des réparations de tous véhicules, voitures, utilitaires, et autres véhicules sans distinction de marques. Si vos besoins sont urgents, nous pouvons réaliser des réparations très rapides de façon ponctuelle... </p>  </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1 boxed boxed--border bg--white">
                                <h5>Mécanique</h5>
                                <p> Nous réalisons des réparations de tous véhicules, voitures, utilitaires, et autres véhicules sans distinction de marques. Si vos besoins sont urgents, nous pouvons réaliser des réparations très rapides de façon ponctuelle... </p>  </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature--featured feature-1 boxed boxed--border bg--white">
                                <h5>Pare-Brise</h5>
                                <p> Nous réalisons des réparations de tous véhicules, voitures, utilitaires, et autres véhicules sans distinction de marques. Si vos besoins sont urgents, nous pouvons réaliser des réparations très rapides de façon ponctuelle... </p>  </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}	          