{% extends 'base.html.twig' %}

{% block body %}
            <section style="margin-top:60px;" class="cover text-center coverimg bg--secondary height-80 space--xs">
                <div class="container">
                    <div class="row justify-content-center">
                       
                        <div class="col-md-12 ">
                           <h1 class="text-center white">Express Pneus Plus</h1>

                        </div>
                        
                       

                    </div>
                </div>
            </section>

            

            <section class="space--sm"></section>

            <section class="switchable feature-large switchable--switch">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6"> <img alt="Image" class="border--round box-shadow-wide" src="/img/garage2.jpg"> </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="switchable__text">
                                <h2>Notre Garage</h2>
                                <p class="lead">Nous réalisons des réparations de tous véhicules, voitures, utilitaires, et autres véhicules sans distinction de marques. Si vos besoins sont urgents, nous pouvons réaliser des réparations très rapides de façon ponctuelle... </p> <a class="btn btn--primary white" href="/notre-garage">Découvrir »</a> </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6"> <img alt="Image" class="border--round box-shadow-wide" src="/img/garage3.jpg"> </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="switchable__text">
                                <h2>Notre Boutique</h2>
                                <p class="lead"> Nous réalisons des réparations de tous véhicules, voitures, utilitaires, et autres véhicules sans distinction de marques. Si vos besoins sont urgents, nous pouvons réaliser des réparations très rapides de façon ponctuelle... </p> <a class="btn" href="/notre-boutique">Découvrir »</a> </div>
                        </div>
                    </div>
                </div>
            </section>
           
            <section class="unpad">
                <div class="map-container border--round" data-maps-api-key="AIzaSyCfo_V3gmpPm1WzJEC9p_sRbgvyVbiO83M" data-address="Avenue Georges Pompidou - Route de Paris, 24750 Champcevinel" data-marker-title="Express Pneus Plus" data-map-style="[{&quot;featureType&quot;:&quot;landscape&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#FFBB00&quot;},{&quot;saturation&quot;:43.400000000000006},{&quot;lightness&quot;:37.599999999999994},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;road.highway&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#FFC200&quot;},{&quot;saturation&quot;:-61.8},{&quot;lightness&quot;:45.599999999999994},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;road.arterial&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#FF0300&quot;},{&quot;saturation&quot;:-100},{&quot;lightness&quot;:51.19999999999999},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;road.local&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#FF0300&quot;},{&quot;saturation&quot;:-100},{&quot;lightness&quot;:52},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;water&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#0078FF&quot;},{&quot;saturation&quot;:-13.200000000000003},{&quot;lightness&quot;:2.4000000000000057},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;poi&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#00FF6A&quot;},{&quot;saturation&quot;:-1.0989010989011234},{&quot;lightness&quot;:11.200000000000017},{&quot;gamma&quot;:1}]}]" data-map-zoom="15"></div>
            </section>
{% endblock %}
